body {
  color: #222;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  /* color: #777; */
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #fff;
  border-color: transparent;
}

.navbar-toggle {
  padding: 2rem 10px;
  border: 0;
}

.navbar-brand {
  height: 100%;
}

.navbar-default .navbar-nav>li>a {
  color: #222;
}

@media only screen and (min-width: 768px) {
	.navbar-nav > li > a {
		padding: 3rem 2.75rem;
  }

  .navbar-nav > li:last-child > a {
    padding-right: 0;
  }
}

.about {
  background: url('/assets/img/undraw-working.svg') no-repeat;
  background-position: right 56%;
  background-size: 48%;
}

@media only screen and (max-width: 479px) {
  .about {
    background-position: 96% 8%;
    background-size: inherit;
  }
}

.greeting {
	margin: 0;
  padding: 16rem 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5.275rem;
  font-weight: 400;
  transition: font-size .75s ease;
}

@media only screen and (max-width: 479px) {
  .greeting {
    padding-top: 10rem;
    padding-bottom: 30rem;
  }
}

@media only screen and (min-width: 320px) {
  .greeting {
    font-size: 3.75rem;
  }
}

@media only screen and (min-width: 480px) {
  .greeting {
    font-size: 4.275rem;
  }
}

@media only screen and (min-width: 992px) {
  .greeting {
    font-size: 5.275rem;
  }
}

@media only screen and (min-width: 1200px) {
  .greeting {
    font-size: 5.675rem;
  }
}

.greeting-line {
  display: block;
}

.greeting-line-bold {
  font-weight: 600;
}

.back-to-top {
  padding: 6rem 0;
  text-align: center;
}

.back-to-top a {
  /* color: #4285f4; */
  color: #222;
}

footer {
  padding: 6rem 0;
  text-align: center;
}

.footer-social {
  font-size: 2.25rem;
}

.footer-social li {
  padding: 0 1rem 2.25rem 1rem;
}

.footer-social-link {
  color: #222;
}

.footer-social-link:hover {
  color: #4285f4;
}

.footer-text {
  font-size: 1.25rem;
}
