body {
  color: #222;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar-default {
  background-color: #fff;
  border-color: transparent;
}

.navbar-toggle {
  padding: 2rem 10px;
  border: 0;
}

.navbar-brand {
  height: 100%;
  /*padding: 2.5rem 15px;*/
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 1.6rem;
	}
}

.about {
  min-height: 540px;
  margin-bottom: 2rem;
}

.greeting {
	margin: 0;
  padding: 16rem 0;
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 5.275rem;
	font-weight: 600;
}

.greeting-line {
  display: block;
}

.back-to-top {
  padding: 6rem 0;
  text-align: center;
}

footer {
  padding: 6rem 0;
  text-align: center;
}

.footer-social {
  font-size: 2.25rem;
}

.footer-social li {
  padding: 0 1rem 2.25rem 1rem;
}

.footer-text {
  font-size: 1.25rem;
}
