body {
  color: #222;
}

.navbar-toggle {
  padding: 2rem 10px;
  border: 0;
}

.navbar-brand {
  height: 100%;
  padding: 2.5rem 15px;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

.about {
  min-height: 540px;
  margin-bottom: 2rem;
}

.greeting {
	margin: 0;
	padding: 16rem 0;
	font-size: 4.5rem;
	font-weight: 600;
}

.greeting-line {
  display: block;
}

.back-to-top {
  padding: 6rem 0;
  text-align: center;
}

footer {
  padding: 6rem 0;
  text-align: center;
}

.footer-social {
  font-size: 2.25rem;
}

.footer-social li {
  padding: 0 1rem 2.25rem 1rem;
}

.footer-text {
  font-size: 1.25rem;
}
